[core]
    editor = vim
[user]
    name = Nick Smith
    email = nick.smith@cern.ch
    github = nsmith-
[push]
    default = simple
[alias]
    s = status
    c = commit
    b = branch --verbose
    co = checkout
    unstage = reset HEAD --
    l = log --decorate --stat
