[core]
    editor = vim
[user]
    name = Nick Smith
    email = nick.smith@cern.ch
    github = nsmith-
[push]
    default = simple
[alias]
    s = status
    c = commit
    b = branch --verbose
    co = checkout
    unstage = reset HEAD --
    l = log --decorate --stat
    graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
